/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 li {
    list-style-type: none;
 }
// font

 h1 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 53px;
}


.form-control {
    width: 600px;
}

.navbar-brand {
    font-family: 'Gloria Hallelujah', cursive;

}

.nav-item {
    font-family: 'Gloria Hallelujah', cursive;
}

.navbar-text {
    font-family: 'Gloria Hallelujah', cursive;
}

// .form-group {
//     background-image: url(http://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/LosAngeles_Hero_Killackey_1280x642_sized.jpg);
// }

.field {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    float: left;
    margin: 10px;
}

.actions {
    font-family: 'Gloria Hallelujah', cursive;
    padding: 10px;
}

#alert {
    font-family: 'Gloria Hallelujah', cursive;
}

section {
    display: flex;
}

section div {
    flex: 1;
}

.links {
    display: flex;
    justify-content: center;

    a {
        padding: 20px; 
        color: black;
    }
}

.locations {
    font-family: 'Arapey', serif;
}