<h1>Welcome to LA</h1>

<body>
    <% @places.in_groups_of(3, '&nbsp;') do | row | %>
        <div class="row" id="backdrop">
            <% for place in row %>
                <div class="col">

                    <%= link_to image_tag(place.image, width: 200, height: 200), "/places/#{place.id}" %>
                </div>
            <% end %>
        </div>
        <br>
    <% end %>
</body>